<nav class="navbar navbar-expand-lg navbar-dark text-bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">DevDen Apparel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products  
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Products', products_path, class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Male', male_path, class: 'dropdown-item' %></li>
            <li><%=link_to 'Female', female_path, class:'dropdown-item' %></a></li> 
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
      <%= button_to 'Sign out', destroy_customer_session_path, class: "btn btn-success pr-2 btn-sm", method: :delete %>
    </div>
  </div>
</nav>
<br>
<br>