<%= render '/home/navbar' %>
<div class="hero-section">
  <div class="overlay">
    <div class="container text-center">
      <h1 class="display-4 text-white">Welcome to Devden Apparel</h1>
      <p class="lead text-white">Discover the Wardrobe of Your Dreams.</p>
    </div>
  </div>
</div>

